#### 포매팅 첫번째 방법

In [51]:
day=8
s = "오늘은 7월 %d일 입니다."%day
s

'오늘은 7월 8일 입니다.'

In [52]:
month=6
day=22
s = "오늘은 %d월 %d일 입니다."%(month,day)
s

'오늘은 6월 22일 입니다.'

#### 포매팅 두번째 방법 (함수 사용)

In [53]:
month=6
day=22
s = "오늘은 {}월 {}일 입니다.".format(month, day)
s

'오늘은 6월 22일 입니다.'

#### 포매팅 세번째 방법(f-string 포매팅)

In [54]:
month=6
day=22
s = f"오늘은 {month}월 {day}일 입니다."
s

'오늘은 6월 22일 입니다.'

#### 예제

In [55]:
x=100
y=200
sum2=x+y
print(f"{x}과 {y}의 합은 {sum2}입니다.")

100과 200의 합은 300입니다.

In [56]:
print("{}과 {}의 합은 {}입니다.".format(x, y, sum2))

100과 200의 합은 300입니다.

In [57]:
print("%d과 %d의 합은 %d입니다."%(x, y, (x+y)))

100과 200의 합은 300입니다.

#### 자주사용하는 문자열 함수

In [58]:
s = '오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.'
s.count('탕수육')

3

In [59]:
s='  오늘 점심 메뉴는 탕수육입니다.'
s.strip()

'오늘 점심 메뉴는 탕수육입니다.'

In [60]:
s = '오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다.'
s.replace('탕수육','깐풍기')

'오늘 점심 메뉴는 깐풍기입니다. 저는 깐풍기을 매우 좋아해서 깐풍기만 먹을겁니다.'

In [61]:
s = '오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다'
s.split(' ')

['오늘', '점심', '메뉴는', '탕수육입니다.', '저는', '탕수육을', '매우', '좋아해서', '탕수육만', '먹을겁니다']

# 연산자
- 산술연산자

In [62]:
n1 = 10
n2 = 7

print(n1/n2)
print(n1%n2)
print(n1//n2)

1.4285714285714286
3
1

In [63]:
s1='안녕'
s2='하세요'
print(s1+s2)
print(s1,s2)

안녕하세요
안녕 하세요

In [66]:
num1 = 10
str2 = "7"
print(num1+int(str2))

17

In [67]:
num1=23
num2=3
print("더하기 결과 :",num1+num2)
print("빼기 결과 :", num1-num2)
print("곱하기 결과 :", num1*num2)
print("나누기 결과 :", num1/num2)

더하기 결과 : 26
빼기 결과 : 20
곱하기 결과 : 69
나누기 결과 : 7.666666666666667

- 지수 연산자

In [68]:
num=input("정수를 입력하세요 >>")

정수를 입력하세요 >>123

In [71]:
n1 = int(input('정수를 입력하세요 >> '))
n2 = int(input('정수를 입력하세요 >> '))
print('더하기 결과 :', n1+n2)
print('빼기 결과 :', n1-n2)
print('곱하기 결과 :', n1*n2)
print('나누기 결과 :', n1/n2)

정수를 입력하세요 >> 3
정수를 입력하세요 >> 7
더하기 결과 : 10
빼기 결과 : -4
곱하기 결과 : 21
나누기 결과 : 0.42857142857142855

In [80]:
p1= int(input('python 점수 입력 >> '))
m1= int(input('머신러닝 점수 입력 >> '))
d1= int(input('딥러닝 점수 입력 >  '))

total = p1+m1+d1

print('합계 : {}'.format(total))
print('평균 : {}'.format(total/3))

python 점수 입력 >> 100
머신러닝 점수 입력 >> 80
딥러닝 점수 입력 >  60
합계 : 240
평균 : 80.0

In [86]:
time= int(input("시간 입력 >> "))
hour = time // 3600
minute = time%3600 // 60
secound = time % 60
print("{}시간 {}분 {}초".format(hour, minute, secound))

시간 입력 >> 7533
2시간 5분 33초

In [87]:
time= int(input("시간 입력 >> "))
hour = time // 3600
minute = time%3600 // 60
secound = time % 60
print("{}시간 {}분 {}초".format(hour, minute, secound))

시간 입력 >> 1123
0시간 18분 43초

In [89]:
time= int(input("시간 입력 >> "))
hour = time // 3600
minute = time%3600 // 60
secound = time % 60
print("{}시간 {}분 {}초".format(hour, minute, secound))

시간 입력 >> 3723
1시간 2분 3초

In [90]:
s="x"
print(s*10)

xxxxxxxxxx

In [91]:
s='안녕하세요'
print(s*2)

안녕하세요안녕하세요

In [97]:
print('*'*10,'연산하기','*'*10)
n1=int(input('정수입력 >> '))
n2=int(input('정수입력 >> '))
cal = input('+연산자 입력 >> ')
print('{} {} {} = {}'.format(n1,cal,n2,(n1+n2)))

********** 연산하기 **********
정수입력 >> 10
정수입력 >> 20
+연산자 입력 >> +
10 + 20 = 30

- 지수연산자

In [125]:
num = int(input("정수 입력 >> "))
power = int(input("지수 입력 >> "))
print(f"{num}의 {power}제곱은 {num**power}입니다.")

정수 입력 >> 3
지수 입력 >> 3
3의 3제곱은 27입니다.

- 비교 연산자

In [102]:
a,b=3,7

print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True

In [103]:
import random as rd
a = rd.randint(1,10)
b = rd.randint(1,10)
print("a:{}, b:{}".format(a,b))

print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

a:6, b:10
False
True
False
True

- 논리 연산자

In [107]:
a, b = 3, 7
not a<b

True

In [111]:
not a==b

True

In [108]:
3 > 5 and 10 == 20

False

In [109]:
3 > 5 and 10 < 20

False

In [110]:
3 < 5 and 10 < 20

True

In [112]:
3 > 5 or 10 == 20

False

In [113]:
3 > 5 or 10 < 20

True

In [114]:
3 < 5 or 10 < 20

True

- 삼항 연산자

In [120]:
score = 80
"합격" if score >= 60 else "불합격"

'합격'

In [121]:
score = 50
"합격" if score >= 60 else "불합격"

'불합격'

In [140]:
a = int(input("정수입력 >> "))
b = int(input("정수입력 >> "))
print("a:",a) if a>b else print("b:",b)

정수입력 >> 3
정수입력 >> 5
b: 5

In [135]:
a = int(input("첫 번째 정수 입력 >> "))
b = int(input("두 번째 정수 입력 >> "))

c=a if a>b else b #큰수
d=a if a<b else b #작은수

print("두수의 차 :", (c-d))

첫 번째 정수 입력 >> 33
두 번째 정수 입력 >> 5
두수의 차 : 28

In [152]:
a=int(input("정수 입력 >> "))

print(str(a)+'는(은) 짝수입니다.') if (a%2)==0 else print(str(a)+'는(은) 홀수입니다.')

정수 입력 >> 4
4는(은) 짝수입니다.