In [ ]:
num = 1
while num <= 3:
    print(num)
    num+=1

In [ ]:
num = 0
while num < 10:
    print("파이썬 최고!!")
    num += 1
    break

In [ ]:
while True:
    print("무한루프")
    break

In [ ]:
num = 1
while True:
    print(num)
    num += 1
    if num > 3:
        break

In [ ]:
num =1
while num <= 10:
    print(f"{num}번째 반복중..")
    if num >= 4:
        print("여기서 부터는 num이 증가하지 않습니다..")
        continue
    num +=1

In [ ]:
while True:
    a = input("이름 입력 >> ")
    if a == '최성우':
        print("최성우 멋지다!")
        break
    print(f"{a} 최고!")

In [ ]:
while True:
    a = int(input("첫 번째 정수 입력 >> ")) 
    b = int(input("두 번째 정수 입력 >> "))
    if a == 0 and b == 0:
        print("프로그램이 종료되었습니다.")
        break
    print(f"두 정수의 합 : {a+b}")

In [ ]:
num = 0
w1 = int(input("현재 몸무게 : "))
w2 = int(input("목표 몸무게 : "))

while w1 >= w2:
    num += 1
    w3 = int(input(f"{num}주차 감량 몸무게 : "))
    w1 -= w3
print(f"{w1}kg 달성!! 축하합니다!")

In [ ]:
import random
num = random.randint(1, 50)

while True:
    a = int(input("숫자를 입력하세요 : "))
    if num > a:
        print(f"{a}보다 큰 수 입니다.")
    elif num < a: 
        print(f"{a}보다 작은 수 입니다.")
    else:
        print("정답을 맞추셨습니다.")
        break

In [ ]:
list_food = ['햄버거', '치킨', '피자']
for food in list_food:
    print(food)

In [ ]:
hi = "안녕하세요"
for s in hi:
    print(s)

In [ ]:
tuple_food = ("햄버거", "치킨", "피자")
for food in tuple_food:
    print(food)

In [ ]:
score_list = [90, 45, 70, 60, 55]
num = 0
for i in score_list:
    num += 1
    if i >= 60:
        print(f"{num}번 학생은 합격입니다.")
    else:
        print(f"{num}번 학생은 불합격입니다.")

In [ ]:
python_score = [57, 86, 63, 92, 35, 79]
num = 0

for i in python_score:
    num += 1
    if i >= 80:
        print(f"{num}번은 {i}점 이며, A등급 입니다.")
    elif i >= 60:
        print(f"{num}번은 {i}점 이며, B등급 입니다.")
    else:
        print(f"{num}번은 {i}점 이며, C등급 입니다.")

In [ ]:
for i in range(1,10):
    print(i, end=" " )

In [ ]:
for i in range(97, 76, -1):
    print(i, end=" ")

In [ ]:
for i in range(23, 40, 1):
    print(i, end=" ")

In [ ]:
for i in range(2,101,2):
        print(i, end=" ")

In [ ]:
for i in range(3,101,3):
        print(i, end=" ")

In [ ]:
list1 = [[1,2],[3,4],[5,6]]
for i,j in list1:
    print(i,j)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]

for i in list2:    
    a = list2[0]
    b = list2[1]
    if a > b:
        del list2[1]
    else:
        del list2[0]

    
print(list2)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]

for i in list2:
    print("i :", i)
    print(list2)
    if list2[0] > list2[1]:
        del list2[1]
    else:
        del list2[0]
    print(list2)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]

for i in range(len(list2)-1):
    if list2[0] > list2[1]:
        del list2[1]
    else:
        del list2[0]
    print(list2)
print(list2)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]
max_num = list2[0]

for i in list2: 
    if i> max_num :
      max_num = i

print(max_num)

In [ ]:
list2 = [4,5,2,1,99,15,2,7,27]
min_num = list2[0]

for i in list2: 
    if i< min_num :
      min_num = i

print(min_num)

In [ ]:
a=0
for i in range(3, 101, 3):
    a = a + i
print(a)

In [ ]:
for i in range(1,10):
    print(f"2 * {i} = {2*i}")

In [ ]:
num = int(input("정수 입력 >> "))
list2 = []
for i in range(1,num+1):
    if num % i == 0:
        list2.append(i)

print(f"{num}의 약수 : {list2}")

In [ ]:
num = int(input("정수 입력 >> "))
list2 = []

for i in range(1,num+1):
    if num % i == 0:
        list2.append(i)
print(f"{num}의 약수", end=" ")
for i in list2: 
    print(i, end=" ")

In [ ]:
num = int(input("정수 입력 >> "))
result = ""

for i in range(1,num+1):
    if num % i == 0:
        result += str("i ")
print(f"{num}의 약수 :", end=" ")
for i in list2: print(i, end=" ")

In [ ]:
num = int(input("정수 입력 >> "))
list2 = []

for i in range(1,num+1):
    if num % i == 0:
        list2.append(i)
print(f"{num}의 약수 :", *list2)

In [ ]:
num = int(input("정수 입력 >> "))

print(f"{num}의 약수:", end=" ")

for i in range(1, num+1):
    if num % i == 0:
        print(i, end=" ")

In [ ]:
for i in range(7):
    print('*'*i)

In [ ]:
line1 = int(input("줄 수 입력 >> "))

for i in range(0,line1+1):
    print("*"*i)

In [ ]:
a = 2

for i in range(1,12):
    if i <= 6:
        print('*'*i)
    else: 
        print('*'*(i - a)) # i - A [7 - 2 = 5 / 8 - 4 = 4 / 9 - 6 = 3 / 10 - 8 = 2 / 11 - 10 =1]
        a += 2

In [ ]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))

for i in range(num1, num2+1):
    print(i, end=" ")

In [ ]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
num3 = int(input("세 번째 정수 입력 >> "))
list2= [ ] 

for i in range(num1, num2+1):  # for문 안돌아 가면 시작이 안됨?
    if i % num3 == 0:
        list2.append(i)
        
print(f"3의 배수의 합 : {sum(list2)}")

In [ ]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
num3 = int(input("세 번째 정수 입력 >> "))
list2= [ ] 

for i in range(num1, num2+1, num3):  # for문 안돌아 가면 시작이 안됨?
    if i % num3 == 0:
        list2.append(i)
        
print(f"{num3}의 배수의 합 : {sum(list2)}")

In [ ]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
a = ""
b = 0


for i in s:
    a += s[(34-b)]
    b += 1
print(a)

In [ ]:
len(s)

In [ ]:
list(s)
b1=34

for i in range(17):
    s[i] = s[b1-i]
    print(s)

In [ ]:
for i in range(len(s)-1, -1,-1):
    print(s[i], end="")

In [ ]:
for i in range(-1, -len(s)-1,-1):
    print(s[i], end="")

In [ ]:
a=2
for i in range(2,10):
    for i in range(1,10):
        print(f"{a}*{i}={a*i}", end="\t" )
    a += 1
    print(" ")

### 윤규 로직

In [1]:
score_list = [["박매일",89,78,99], ["김미희",67,88,77], ["강예진",100,55,96]]
calums = ['이름', 'Python', 'Java', 'DB', '평균', '학점']
mean = []

print("="*45)
for i in calums:   #칼럼 이름
    print(i, end="\t")
print("")
print("="*45)
for i in range(len(score_list)):   #전체 반복 (세로로 쓰는 느낌임)
    for j in range(4):   #과목+이름 반복문 / 이름1줄+과목3줄 = range(4)
        print(score_list[i][j], end="\t")
    for k in range(1):   #평균 반복문 / 평균1줄 = range(1)
        avg = int((score_list[i][1]+score_list[i][2]+score_list[i][3])/3)   #과목수가 3개니까 나누기 3  
        print(avg, end="\t")
        mean.append(avg)
    for l in range(1):   #학점 반복문 / 학점1줄 = range(1)
        if avg >= 90:
            grade = 'A'
        elif avg >= 80:
            grade = 'B'
        elif avg >= 70:
            grade = 'C'
        elif avg >= 60:
            grade = 'D'
        else:
            grade ='F'
        print(grade)   
                         #만약에 열 하나 늘어나면 for문 여기에 적어주면 됨 for문 하나당 세로 열 씀 
print("="*45)
print(calums[4], end="\t")
for i in range(3):
    print(mean[i], end="\t")  #과목별 평균

=============================================
이름	Python	Java	DB	평균	학점
=============================================
박매일	89	78	99	88	B
김미희	67	88	77	77	C
강예진	100	55	96	83	B
=============================================
평균	88	77	83

In [2]:
score_list.append(['최성우', 99, 99, 99 ,99])

In [3]:
mean = []

print("="*45)
for i in calums:   #칼럼 이름
    print(i, end="\t")
print("")
print("="*45)
for i in range(len(score_list)): 
    for j in range(4):   #과목별 점수
        print(score_list[i][j], end="\t")
    for k in range(1):   #평균
        a = int((score_list[i][j-2]+score_list[i][j-1]+score_list[i][j])/3)
        print(a, end="\t")
        mean.append(a)
    for l in range(1):   #학점
        if a >= 90:
            print('A')
        elif a >= 80:
            print('B')
        elif a >= 70:
            print('C')
        elif a >= 60:
            print('D')
        else:
            print('F')
print("="*45)
print(calums[4], end="\t")
for i in range(3):
    print(mean[i], end="\t")

=============================================
이름	Python	Java	DB	평균	학점
=============================================
박매일	89	78	99	88	B
김미희	67	88	77	77	C
강예진	100	55	96	83	B
최성우	99	99	99	99	A
=============================================
평균	88	77	83

### 명기 로직

In [4]:
score_list = [["박매일",89,78,99],["김미희",67,88,77],["강예진",100,55,96]]
print("="*45,end="")
print("\n이름\tPython\tJava\tDB\t평균\t학점")
print("="*45,end="\n")
a, b ,c=0, 0, 0
for i,j,k,l in score_list:
    loan = int((j+k+l)/3)
    if loan >= 90:
        grade = "A"
    elif loan >= 80:
        grade = "B"
    elif loan >= 70:
        grade = "C"
    elif loan >= 60:
        grade = "D"
    else:
        grade = "F"
    a += j
    b += k
    c += l
    print(f"{i}\t{j}\t{k}\t{l}\t{loan}\t{grade}")
print("="*45,end="\n")
q,w,e = int(a/len(score_list)),int(b/len(score_list)),int(c/len(score_list))
print(f"평균\t{q}\t{w}\t{e}")

=============================================
이름	Python	Java	DB	평균	학점
=============================================
박매일	89	78	99	88	B
김미희	67	88	77	77	C
강예진	100	55	96	83	B
=============================================
평균	85	73	90

#### 구구단

In [5]:
for dan in range(1,10):
    for i in range(2,10):
        print(f"{i}*{dan}={dan*i}", end="\t")  #이스케이프 코드 한다면 큰 것 기준 일정한 간격으로 출력
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

#### 홀짝 판별기

In [6]:
list1=[1,30,7,9,17,3,5,23,44]
a = 0
b = 0

for i in list1:
    if i%2 == 0:
        a += 1
    else:
        b += 1

print(f"짝수 {a}개, 홀수 {b}개")

짝수 2개, 홀수 7개

In [7]:
list1=[1,30,7,9,17,3,5,23,44, 32, 35]
a = 0
b = 0

for i in list1:
    if i%2 == 0:
        a += 1
    else:
        b += 1

print(f"짝수 {a}개, 홀수 {b}개")

짝수 3개, 홀수 8개

In [8]:
a = input("OX입력 >> ")
r, s = 0, 0

for i in a:
    if i == 'O':
        s += 1
        r += s
    else: 
        s = 0

print(f"{r}점")

KeyboardInterrupt: Interrupted by user

In [ ]:
ox = input("OX입력 >> ")
score = 0
result = 0

for i in range(0, len(ox), 1):
    if ox[i] == 'O':
        score += 1
        result += score
    else: 
        score = 0

print(f"{result}점")

### 숙제 (선생님 버전)

In [9]:
score_list = [["박매일",89,78,99],["김미희",67,88,77],["강예진",100,55,96]]

print("="*50)
print("이름\t", "Python\t", "Java\t", "DB\t", '평균\t', '학점')
print("="*50)

python, java, db = 0, 0, 0

for i in score_list:
    avg = int((i[1]+i[2]+i[3])/len(score_list))   #선생님별 평균
    avg_p, avg_j, avg_d = 0, 0, 0   #과목별별 평균
    
    if avg >= 90:
        grade = "A"
    if avg >= 80:
        grade = "B"
    if avg >= 70:
        grade = "C"
    if avg >= 60:
        grade = "D"
    else:
        grade = "F"
    
    python += i[1]
    java += i[2]
    db += i[3]
    
    avg_p = int(python/len(score_list))
    avg_j = int(java/len(score_list))
    avg_d = int(db/len(score_list))
    
    print(i[0], '\t', i[1], '\t', i[2], '\t', i[3], '\t', avg, '\t', grade)

print("="*50)

print('평균', '\t', avg_p, '\t', avg_j, '\t', avg_d)

==================================================
이름	 Python	 Java	 DB	 평균	 학점
==================================================
박매일 	 89 	 78 	 99 	 88 	 D
김미희 	 67 	 88 	 77 	 77 	 D
강예진 	 100 	 55 	 96 	 83 	 D
==================================================
평균 	 85 	 73 	 90

### 네이버 영화 리뷰 간단 분석

In [ ]:
import pickle   #pickle : 리스트와 같은 자료구조 자체를 저장하거나 불러오게 해주는 라이브러리(기능들의 집합)

In [ ]:
with open("data/movie_review.pkl",'rb') as f:
    my = pickle.load(f)

In [ ]:
my