## Oracle-Python 연결 Lib 설치

Instant Client 설치 
https://www.oracle.com/kr/database/technologies/instant-client/winx64-64-downloads.html

In [4]:
import os

LOCATION = r'C:\Users\AI\instantclient_21_6'   # r 붙이면 이스케이프(\) 코드 무시 됨
os.environ["PATH"] = LOCATION+';'+os.environ["PATH"]

In [ ]:
#오라클 관련 라이브러리
!pip install cx_oracle

In [5]:
import cx_Oracle

## DB 연결

- 데이터베이스를 외부에서 연결하려고 할 때 4단계를 밟아야함

1) Connection  
2) Cursor  
3) Execute  
4) close

In [ ]:
ip_dic = {'192.168.0.38':'나예호', '192.168.70.160':'이명기'}

In [ ]:
from flask import Flask, request

# app : Server실행, 경로를 잡아주는 객체
app = Flask(__name__)

@app.route('/')
def index():
    #페이지에 들어오는 사람의 ip주소를 받아들임
    ip = request.remote_addr  # 5초안에 50번 이상의 접속시도가 있으면 차단 리스트에 넣는 용도로 씀 
    
    if ip == '192.168.70.228':
        return 'local'
    
    return '<h1>Hello World</h1>'

if __name__ == '__main__':
    app.run(host='192.168.70.228', port=5021)

In [6]:
# Connection
db_id = 'hr'
db_pw = 'hr'
db_url = '127.0.0.1:1521/xe'

conn = cx_Oracle.connect(db_id, db_pw, db_url)  #오라클은 계정 내 DB가 다를 때 다른 DB에 같은 이름의 table 존재할 수 없음
conn


# Cursor
curs = conn.cursor()


# Execute
sql = 'select last_name, salary from employees'  #세미콜론 안써도 됨
result = curs.execute(sql)
#conn.commit() 
# result.fetchall()
print(result.fetchall())


# Close : 연결통로 닫을 땐 열었던 역순으로 닫는다.
if curs != None:
    curs.close()
if conn != None:
    conn.close()

[('King', 24000.0), ('Kochhar', 17000.0), ('De Haan', 17000.0), ('Hunold', 9000.0), ('Ernst', 6000.0), ('Austin', 4800.0), ('Pataballa', 4800.0), ('Lorentz', 4200.0), ('Greenberg', 12008.0), ('Faviet', 9000.0), ('Chen', 8200.0), ('Sciarra', 7700.0), ('Urman', 7800.0), ('Popp', 6900.0), ('Raphaely', 11000.0), ('Khoo', 3100.0), ('Baida', 2900.0), ('Tobias', 2800.0), ('Himuro', 2600.0), ('Colmenares', 2500.0), ('Weiss', 8000.0), ('Fripp', 8200.0), ('Kaufling', 7900.0), ('Vollman', 6500.0), ('Mourgos', 5800.0), ('Nayer', 3200.0), ('Mikkilineni', 2700.0), ('Landry', 2400.0), ('Markle', 2200.0), ('Bissot', 3300.0), ('Atkinson', 2800.0), ('Marlow', 2500.0), ('Olson', 2100.0), ('Mallin', 3300.0), ('Rogers', 2900.0), ('Gee', 2400.0), ('Philtanker', 2200.0), ('Ladwig', 3600.0), ('Stiles', 3200.0), ('Seo', 2700.0), ('Patel', 2500.0), ('Rajs', 3500.0), ('Davies', 3100.0), ('Matos', 2600.0), ('Vargas', 2500.0), ('Russell', 14000.0), ('Partners', 13500.0), ('Errazuriz', 12000.0), ('Cambrault', 11000.0), ('Zlotkey', 10500.0), ('Tucker', 10000.0), ('Bernstein', 9500.0), ('Hall', 9000.0), ('Olsen', 8000.0), ('Cambrault', 7500.0), ('Tuvault', 7000.0), ('King', 10000.0), ('Sully', 9500.0), ('McEwen', 9000.0), ('Smith', 8000.0), ('Doran', 7500.0), ('Sewall', 7000.0), ('Vishney', 10500.0), ('Greene', 9500.0), ('Marvins', 7200.0), ('Lee', 6800.0), ('Ande', 6400.0), ('Banda', 6200.0), ('Ozer', 11500.0), ('Bloom', 10000.0), ('Fox', 9600.0), ('Smith', 7400.0), ('Bates', 7300.0), ('Kumar', 6100.0), ('Abel', 11000.0), ('Hutton', 8800.0), ('Taylor', 8600.0), ('Livingston', 8400.0), ('Grant', 7000.0), ('Johnson', 6200.0), ('Taylor', 3200.0), ('Fleaur', 3100.0), ('Sullivan', 2500.0), ('Geoni', 2800.0), ('Sarchand', 4200.0), ('Bull', 4100.0), ('Dellinger', 3400.0), ('Cabrio', 3000.0), ('Chung', 3800.0), ('Dilly', 3600.0), ('Gates', 2900.0), ('Perkins', 2500.0), ('Bell', 4000.0), ('Everett', 3900.0), ('McCain', 3200.0), ('Jones', 2800.0), ('Walsh', 3100.0), ('Feeney', 3000.0), ('OConnell', 2600.0), ('Grant', 2600.0), ('Whalen', 4400.0), ('Hartstein', 13000.0), ('Fay', 6000.0), ('Mavris', 6500.0), ('Baer', 10000.0), ('Higgins', 12008.0), ('Gietz', 8300.0)]

In [7]:
# VO(Value Object) : 사용자 정의 데이터 타입

# Design Pattern
# 코드를 작성
# Refactoring 

# 가장 보편적, 가장 많이 사용하는 약속된 Design Pattern -> MVC

# MVC : Model, View, Controller
    # Model : DTO + DAO
        # DB에 넣을 때 이름, 이메일, 날짜, 시간을 넣고 싶을 때 이걸 넣는 데이터타입이 있나? -> class 로 만들면 됨
        # DTO(Data Transfer Object) : 데이터 전송 객체
        # DAO(Data Access Object) : 데이터 접근 객체
    # View : 사용자에게 보이는 모든 것    
    # Controller : View와 Model 사이의 기능을 관리
    
#Python 점수를 저장하려고 함

score = 0
#score의 타입은?? -> int

name = ''
#name의 타입은?? -> str

#나예호와 Python점수를 동시에 저장하고 싶으면 class를 사용!!
class Scores:
    name = ''
    score = 0
    
    def print_info(self):
        print(f'이름 : {self.name} / 점수 : {self.score}')

In [8]:
s1 = Scores()
s1.name='최윤규'
s1.score=100

print(s1.name, s1.score)

최윤규 100

## DAO

In [47]:
# %%writefile ./파일명.py   #모듈화 위한 코드
import cx_Oracle
import pandas as pd

class DAO: 
    import cx_Oracle
    import pandas as pd
    
    
    def conn_db(self):
        db_id = 'hr'
        db_pw = 'hr'
        db_url = '127.0.01:1521/xe'
        conn = cx_Oracle.connect(db_id, db_pw, db_url)
        curs = conn.cursor()
        return conn, curs  # !중요
        
    
    def select(self):
        conn, curs = self.conn_db()
        sql = 'select last_name, salary from employees'
        result = curs.execute(sql)
        r = result.fetchall()
        if curs != None:curs.close()
        if conn != None:conn.close()
        return r
    
    
    def select_df(self):
        import pandas as pd
        conn, curs = self.conn_db()
        sql = 'select * from member'
        df = pd.read_sql(sql,conn)
        if conn != None:conn.close()
        return df


    def insert(self, join_id, join_pw, join_name):    #self 쓰는 이유 파이썬은 인터프린터 언어 한줄 씩 실행 / 자바는 컴파일러 한번에 실행 
        conn, curs = self.conn_db()  # !중요
        sql= '''insert into member(mem_id, id, pw, name) 
        values(mem_memid_seq.nextval, :1, :2, :3)'''         #:1 -> 아직 정해지지 않음 값 중 첫번째 
        curs.execute(sql, (join_id, join_pw, join_name))     #위에서 정해지지 않은 값을 여기서 선언  /  f스트링 안쓰는 이유?
        conn.commit()
        if curs != None:curs.close()
        if conn != None:conn.close()
       
    
    def login(self, login_id, login_pw):
        conn, curs = self.conn_db()
        sql = '''select count(*) from member where id = :1 and pw = :2'''
        curs.execute(sql, (login_id, login_pw))
        result = curs.fetchall()
#         print(result)
        curs.close()
        conn.close()
        if result[0][0] == 1:
            return '로그인 성공'
        else:
            return '로그인 실패'
        
        
    def check(self, login_id):
        conn, curs = self.conn_db()
        sql = '''select count(*) from member where id =:1'''
        curs.execute(sql,[login_id])
        result = curs.fetchall()
        print(result)
        curs.close()
        conn.close()
        if result[0][0] == 1:
            return '사용할 수 없는 ID 입니다.'
        else:
            return '사용 가능한 ID 입니다.'

In [48]:
dao = DAO()
dao.check('suzyy')

[(1,)]

'사용할 수 없는 ID 입니다.'

In [4]:
dao = DAO()
r = dao.select()  #select 결과 r변수에 담기  r은 데이터 타입 list임 

# # 예쁘게 뽑으려면
# for name, salary in r:
#     print(f'name: {name}  /   salary: {salary}')

In [28]:
dao = DAO()
df=dao.select_df()
df

C:\Users\AI\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   MEM_ID     ID    PW    NAME  MONEY
0     122    yg3  1234  yun9yu  10000
1     123    yg4  1234  yun9yu  10000
2     124    yg5  1234  yun9yu  10000
3     125    yg6  1234  yun9yu  10000
4     141    yg9  1234  yun9yu  10000
5     100     yg  1234  yun9yu  10000
6     103    yg2  1234  yun9yu  10000
7     142  suzyy  1010     배수지  10000
8     131    yg8  1234  yun9yu  10000
9     129    yg7  1234  yun9yu  10000

In [7]:
dao = DAO()
ins = dao.insert('yg9', 1234, 'yun9yu')
ins

In [8]:
dao = DAO()
dao.login('yg7','1234')

'로그인 성공'

#### server

In [17]:
from flask import Flask, redirect

app = Flask(__name__)


@app.route('/')
def index():
#     url = 'http://yun9yu.dothome.co.kr'
#     return redirect(url)
    return '<h1>Hello World</h1>'

@app.route('/sel_emp')
def sel_emp():
    dao = DAO()
    r = dao.select()
    result = '</br>'.join(map(str,r)) #리스트 없이 한 문자열로 바꿔주는 것 Q.
    return result

if __name__ == '__main__':
    app.run(host='192.168.70.228', port=5021)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.70.228:5021/ (Press CTRL+C to quit)

#### 로그인

In [18]:
from flask import Flask, request, redirect

app = Flask(__name__)


@app.route('/')
def index():
    return '<h1>Hello World</h1>'


@app.route('/join', methods=['POST', 'GET'])
def join():
    if request.method == 'POST':
        join_id = request.form['join_id']
        join_pw = request.form['join_pw']
        join_name = request.form['join_name']
        print(join_id,join_pw,join_name)
        dao = DAO()
        try:
            dao.insert(join_id, join_pw, join_name)
            return redirect('/')
        except:
            return redirect('http://192.168.70.128/index.html')


@app.route('/login', methods=['GET', 'POST'])
def login_db():
    if request.method == 'POST':
        login_id = request.form['login_id']
        login_pw = request.form['login_pw']
        print(login_id, login_pw)
        login=dao.login(login_id,login_pw)
        login
        print(login)
#     if request.method == 'GET' :
        
        if login == '로그인 성공':
            url_success = 'http://yun9yu.dothome.co.kr/success.html'
            return redirect(url_success)
        else:
            url_fail = 'http://yun9yu.dothome.co.kr/fail.html'
            return redirect(url_fail)

    
if __name__ == '__main__':
    app.run(host='192.168.70.128', port=5021)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.70.128:5021/ (Press CTRL+C to quit)
192.168.70.128 - - [26/Sep/2022 09:52:02] "POST /join HTTP/1.1" 302 -
192.168.70.128 - - [26/Sep/2022 09:52:02] "GET / HTTP/1.1" 200 -

suzyy 1010 배수지

192.168.70.128 - - [26/Sep/2022 09:53:28] "POST /login HTTP/1.1" 302 -

yg7 1234
로그인 성공

In [50]:
from flask import Flask, request, redirect

app = Flask(__name__)


@app.route('/')
def index():
    return '<h1>Hello World</h1>'


@app.route('/join', methods=['POST', 'GET'])
def join():
    if request.method == 'POST':
        join_id = request.form['join_id']
        join_pw = request.form['join_pw']
        join_name = request.form['join_name']
        print(join_id,join_pw,join_name)
        dao = DAO()
        try:
            dao.insert(join_id, join_pw, join_name)
            return redirect('/')
        except:
            return redirect('/join')
        
    if request.method == 'GET':
        return redirect('http://yun9yu.dothome.co.kr/')
    
    
@app.route('/check', methods=['POST', 'GET'])
def check():
    if request.method == 'POST':
        join_id = request.form['join_id']
        print(join_id)
        dao.DAO()
        result = dao.check(join_id)
        return result
    
    
@app.route('/login', methods=['GET', 'POST'])
def login_db():
    if request.method == 'POST':
        login_id = request.form['login_id']
        login_pw = request.form['login_pw']
        print(login_id, login_pw)
        login=dao.login(login_id,login_pw)
        login
        print(login)
#     if request.method == 'GET' :
        
        if login == '로그인 성공':
            url_success = 'http://yun9yu.dothome.co.kr/success.html'
            return redirect(url_success)
        else:
            url_fail = 'http://yun9yu.dothome.co.kr/fail.html'
            return redirect(url_fail)

    
if __name__ == '__main__':
    app.run(host='192.168.70.128', port=5021)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://192.168.70.128:5021/ (Press CTRL+C to quit)